## Merge all datasets

In [20]:
import pandas as pd
import urllib2
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os
import requests
import glob

pd.options.display.max_columns = 500

In [10]:
path = "./atp_matches/" # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

In [14]:
frame = pd.DataFrame()
df = pd.concat((pd.read_csv(f) for f in all_files))

In [17]:
df_test = pd.read_csv("./atp_matches/atp_matches_1973.csv")

In [22]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,winner_rank,winner_rank_points,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,1975-347,Bournemouth,Clay,64,A,19750512,1,100282,NaN,NaN,Guillermo Vilas,L,180.0,ARG,22.732375,2.0,0.0,100118,NaN,NaN,Ivan Molina,L,NaN,COL,28.903491,98.0,0.0,6-4 7-5,3,R64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1975-347,Bournemouth,Clay,64,A,19750512,2,100199,NaN,NaN,Patrice Dominguez,L,173.0,FRA,25.327858,62.0,0.0,100214,NaN,NaN,Adriano Panatta,R,183.0,ITA,24.840520,44.0,0.0,5-7 7-5 6-3,3,R64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1975-347,Bournemouth,Clay,64,A,19750512,3,100062,NaN,NaN,Francois Jauffret,R,180.0,FRA,33.251198,28.0,0.0,100088,NaN,NaN,Patricio Cornejo,R,180.0,CHI,30.929500,77.0,0.0,6-4 6-1,3,R64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1975-347,Bournemouth,Clay,64,A,19750512,4,100359,NaN,NaN,Richard Lewis,L,NaN,GBR,20.429843,220.0,0.0,100132,NaN,NaN,Armistead Neely,R,NaN,USA,28.147844,176.0,0.0,6-2 2-6 8-6,3,R64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1975-347,Bournemouth,Clay,64,A,19750512,5,109787,NaN,NaN,Cm Robinson,U,NaN,UNK,NaN,NaN,NaN,100090,NaN,NaN,Dick Crealy,R,NaN,AUS,30.644764,60.0,0.0,8-6 6-2,3,R64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#Write to csv
df.to_csv('../data/atp_matches_all.csv',index=False)

## Basic

In [37]:
df.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,loser_seed,loser_ht,loser_age,loser_rank,loser_rank_points,best_of,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
count,163965.000000,1.639650e+05,163965.000000,163965.000000,63018.000000,145980.000000,160522.000000,139316.00000,139316.000000,163965.000000,31498.000000,134717.000000,157406.000000,136168.000000,136168.000000,163965.000000,74877.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000,77400.000000
mean,52.583088,1.992108e+07,29.890812,102116.733370,6.154115,184.196595,25.540895,79.65177,831.815929,102534.959467,7.536669,183.999169,25.589116,119.568526,522.943305,3.451413,101.753436,6.388450,2.741912,77.817597,47.159509,35.512610,16.805659,12.321731,3.539276,5.194031,4.708618,3.513695,80.607610,47.555698,31.517829,15.006085,12.130362,4.812868,8.776382
std,36.065447,1.340284e+05,39.788424,2767.244364,5.315176,6.571915,3.894364,120.43674,1469.533576,4975.135452,5.793584,6.589874,4.023777,159.370529,839.504233,0.836096,38.451591,5.244533,2.372174,29.563800,19.194544,13.820752,7.035031,4.089273,3.087606,4.068646,4.551704,2.634252,29.500615,19.361387,14.410225,7.259988,4.104588,3.269016,4.118978
min,4.000000,1.968012e+07,1.000000,100002.000000,1.000000,160.000000,14.004107,1.00000,0.000000,100001.000000,1.000000,160.000000,14.004107,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.000000,0.000000
25%,32.000000,1.980110e+07,8.000000,100428.000000,NaN,NaN,NaN,NaN,NaN,100485.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,32.000000,1.992042e+07,20.000000,101481.000000,NaN,NaN,NaN,NaN,NaN,101613.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,64.000000,2.003082e+07,34.000000,103413.000000,NaN,NaN,NaN,NaN,NaN,103598.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,128.000000,2.017020e+07,319.000000,202382.000000,35.000000,208.000000,58.718686,2101.00000,16950.000000,202359.000000,35.000000,208.000000,63.211499,2159.000000,16950.000000,5.000000,1146.000000,113.000000,23.000000,491.000000,361.000000,292.000000,82.000000,90.000000,24.000000,34.000000,103.000000,26.000000,489.000000,328.000000,284.000000,101.000000,91.000000,28.000000,35.000000

Order checks out till Andre Agassi (6th row) but the count doesn't.

https://en.wikipedia.org/wiki/List_of_ATP_Tour_players_by_career_match_wins

In [61]:
df_t.winner_name.value_counts().head(13)

Jimmy Connors      1229
Roger Federer      1097
Ivan Lendl         1065
Guillermo Vilas     937
John Mcenroe        881
Andre Agassi        861
Ilie Nastase        826
Rafael Nadal        822
Stefan Edberg       796
Novak Djokovic      768
Pete Sampras        763
Boris Becker        711
David Ferrer        701
Name: winner_name, dtype: int64

In [62]:
df.loser_name.value_counts().head()

Fabrice Santoro    444
Mikhail Youzhny    387
Feliciano Lopez    386
John Alexander     382
Jonas Bjorkman     361
Name: loser_name, dtype: int64